SECRET_KEY=temporary-dev-secret-key-0123456789
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=redis_temp_password

POSTGRES_FARM_DATABASE_HOST=postgres
POSTGRES_FARM_DATABASE_USERNAME=dev_farm_user
POSTGRES_FARM_DATABASE_PASSWORD=dev_farm_password
POSTGRES_FARM_DATABASE_NAME=dev_farm_db

POSTGRES_USER_DATABASE_HOST=postgres
POSTGRES_USER_DATABASE_USERNAME=dev_user_service_user
POSTGRES_USER_DATABASE_PASSWORD=dev_user_service_password
POSTGRES_USER_DATABASE_NAME=dev_user_service_db

POSTGRES_RULE_DATABASE_HOST=postgres
POSTGRES_RULE_DATABASE_USERNAME=dev_rule_user
POSTGRES_RULE_DATABASE_PASSWORD=dev_rule_password
POSTGRES_RULE_DATABASE_NAME=dev_rule_db

INFLUXDB_URL=http://influxdb:8086
INFLUXDB_USERNAME=influx_admin
INFLUXDB_PASSWORD=influx_password
INFLUXDB_ORG=my-org
INFLUXDB_BUCKET=bucket
INFLUXDB_TOKEN=7ObB_Uc09lsXTkaZYgapfkQg8BUSlIXS9NaUmb8erwU9Mf8HjrYvUVL16uCmRRsNt3b4VFxWHy1HQljhWl7e5g==

MQTT_BROKER_URL=mosquitto
MQTT_BROKER_PORT=1883
MQTT_USERNAME=mqtt_dev_user
MQTT_PASSWORD=mqtt_dev_password
