annotated-types==0.7.0
anyio==4.11.0
asyncpg==0.30.0
bcrypt==5.0.0
fastapi==0.115.6
httpx==0.28.1
orjson
pydantic==2.10.3
sqlalchemy==2.0.36
starlette==0.41.3
uvicorn==0.34.0
gunicorn
PyJWT==2.10.1
redis==6.4.0
python-multipart==0.0.20
alembic==1.13.1
aiomqtt==2.3.0
aiofiles
